@page "/login"
@using ExampleApp.Shared.Models
@using ExampleApp.Shared
@using Client.Data
@inject IAuthenticateUserService AuthenticationService
@inject IAlertService AlertService
@inject NavigationManager urlNavigationManager

<h1>Login</h1>
<hr />

<EditForm Model="@user" OnValidSubmit="LogUserIn">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label class="control-label col-md-12">Username</label>
        <div class="col-md-4">
            <input class="form-control" @bind="user.Username" placeholder="Cl0uds1" />
        </div>
        <ValidationMessage For="@(() => user.Username)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Password</label>
        <div class="col-md-4">
            <input class="form-control" @bind="user.Password" type="password" />
        </div>
        <ValidationMessage For="@(() => user.Password)" />
    </div>    <div class="form-group">
        <button type="submit" disabled="@loading" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@code {
    LoginModel user = new LoginModel();
    private bool loading;

    protected async Task LogUserIn()
    {
        AlertService.Clear();

        loading = true;
        try
        {
            var user = await AuthenticationService.Login(this.user);
            if (user == null)
            {
                throw new Exception("User or password invalid");
            }
            urlNavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }

    }
}