@page "/tenant"

@inject ExampleApp.Shared.IEmployeeService es


<h1>Tenant</h1>
<hr />

<h2>@blah</h2>

@code { string blah;
    protected override async Task OnInitializedAsync()
    {
        blah = await es.GetAllTenants();
    } }
